@page "/measurements"
@using FitnessTrackMono.Shared.Models;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;
@using FitnessTrackMono.Client.Services.MeasurementsService;
@inject HttpClient Http;
@inject IMeasurementsService MeasurementService
@inject NavigationManager NavManager
@inject Radzen.DialogService DialogService


<PageTitle> Measurements </PageTitle>
<h3>Measurements</h3>
@*@if (loading)
    {
    <h3>Loading...</h3>
    }
    else
    {*@

<RadzenChart>
    <RadzenLineSeries Smooth="true" Data="@MeasurementService.Measurements" CategoryProperty="Date" Title="Weight" ValueProperty="Value" RenderingOrder="1">
        @*<RadzenSeriesTrendLine Visible="@trend" Stroke="var(--rz-danger-dark)" LineType="LineType.Dashed" />
        <RadzenSeriesMedianLine Visible="@median" Stroke="var(--rz-success-dark)" LineType="LineType.Dotted" />
        <RadzenSeriesMeanLine Visible="@mean" Stroke="var(--rz-info-dark)" LineType="LineType.Dotted" />
        <RadzenSeriesModeLine Visible="@mode" Stroke="var(--rz-warning-darker)" LineType="LineType.Dotted" />*@
    </RadzenLineSeries>
    
</RadzenChart>
<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Unit</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var measurement in MeasurementService.Measurements)
        {
            <tr>
                <td>@measurement.Type</td>
                <td>@measurement.Value</td>
                <td>@measurement.Unit</td>
                <td>@measurement.Date.ToShortDateString() </td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowForm(measurement.Id))">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger" @onclick="(() => DeleteMeasurement(measurement.Id))">
                        <i class="oi oi-delete"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary" @onclick="(() => ShowForm(null))"> Add </button>

@code {

    private bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await MeasurementService.GetMeasurements();
            //loading = false;
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

    }

    private async Task ShowForm(int? id)
    {
        var title = id == null ? "Add Measurement" : "Edit Measurement";
        await DialogService.OpenAsync<MeasurementForm>(title,
        new Dictionary<string, object>() { { "Id", id } },
        new Radzen.DialogOptions()
            {
                Width = "512px",
                Resizable = true,
                Draggable = true,
                CloseDialogOnOverlayClick = true
            }
        );
    }
    private async Task DeleteMeasurement(int id)
    {
        await MeasurementService.DeleteMeasurement(id);
    }
    }
